/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}
/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --origin : #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --color : #000;
    --hover : hsl(224, 85%, 65%);
    --bgC: rgba(198, 208, 225, 0.8);
    --small : rgb(66, 62, 62);
    --card : #f3f3f3;
}

/* ===== Scroll =====*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--origin);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover);
}
body{
    height: 100vh;
    background-color: var(--body-color);
    position: relative;
}

html{scroll-behavior: smooth;}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
    --color : #fff;
    --small : rgb(176, 171, 171);
    --bgC: rgba(54, 63, 82, 0.8);
    --card : rgba(34, 34, 34, 0.835);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 9999999100;
}

body.dark nav{
    border: 1px solid #393838;

}
.goUP{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    color: var(--body-color);
    font-size: 20px;
    background: var(--origin);
    border-radius: 50%;
    padding: 9px 14px;
    cursor: pointer;
    z-index: 9999;
    border: 1px solid var(--hover);
    opacity: 0;
    pointer-events: none;
}
.ifActive{
    opacity: 1;
    pointer-events: all;
}
nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}
.ContaiKolxi{
    position: relative;
}
small{
    font-size: 8px;
}
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }
    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
    /*second section*/
    .Second-Section article{
        display: flex;
        flex-direction: column;
    }
    .Second-Section article .Info-About{
        font-size: 15px;
        width: 100%;
        margin: 0;
    }
    .Second-Section article .Info-About button{
        align-items: center;
        justify-content: center;
    }
    .Second-Section img{
        width: 80%;
    }
    .Second-Section .Info-Exp li{
        margin: 30px -10px;
    }
    /*Experience bar*/
    .Exper-Container div ul li .Ex-name{
        font-size: 12px;
    }
    /*Contact Bar*/
    .Contact-Section .Contact-contai{
        flex-direction: column;
        margin-top: 20px;
    }
    .user-input{
        flex-direction: column;
    }
    .Contact-contai .Social-md div{
        margin: 10px;
        padding: 9px 15px;
        font-size: 15px;
        border-radius: 8px;
        line-height: 1;
    }
    .Contact-Section .input-block{
        margin: 25px;
    }
    /*Leave-Message*/
    #imgContainer{
        width: 350px;
        padding: 25px;
    }
    #imgContainer .profile-message img{
        border-radius: 50%;
        width: 70px;
    }
    #imgContainer.profile-message .Leave-Op{
        margin-left: 11px;
        font-size: 15px;
    }
}

/* First Section */
.First-section{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.First-section div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
.First-section div img{
    border-radius: 50%;
}
.Second-Section .About .fullname,
.First-section div .fullname,
.Experience-Section .Experience .fullname,
.Projects-Section .Projects .fullname,
.Contact-Section .fullname{ 
    color: var(--origin);
    font-size: 25px;
    font-weight: bold;
}
.First-section div span{
    color: var(--color);
}
.First-section .info-cont{
    margin-bottom: 15px;
}
.First-section ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.First-section ul li {
    text-align: center;
}
.First-section ul li i{
    color: var(--color);
    background-color: var(--bgC);
    padding: 5px;
    border-radius: 999999px;
}
.First-section .down button a{
    text-decoration: none;
    color: var(--color);
}
.First-section .down button,
.Second-Section .Info-About div button,
.Contact-Section .input-block button,
.msg-container .Leave-Buttons button{
    padding: 12px 15px;
    border: none;
    outline: none;
    background: var(--origin);
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 8px;
    font-weight: bold;
    transition: .2s all;
}
.First-section:hover button,
.Second-Section .Info-About div button:hover,
.Contact-Section .input-block button:hover,
.msg-container .Leave-Buttons button:hover{
    background-color: var(--hover);
}
hr{
    margin: 0 35px;
}
/*Second Section*/
.Second-Section{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    padding: 25px; 
}
.Second-Section .About,
.Experience-Section .About,
.Projects-Section .Projects,
.Contact-Section .Contact{
    text-align: center;
    margin-bottom: 23px;
}
.Second-Section .About span,
.Contact-Section .Contact {
    font-weight: bold;
    font-size: 18px;
    color: var(--color);  
}
.Second-Section article{
    display: flex;
    color: var(--color); 
}
.Second-Section .Info-About{
    flex: 1;
    padding: 15px;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}
.Second-Section .Info-About p{
    width: 90%;
    font-weight: 500;
}
.Second-Section .Info-About p small{
    font-size: 15px;
}
.Second-Section .Info-About p small a{
    text-decoration: none;
    color: var(--origin);
    cursor: pointer;
}
.Second-Section .Info-About button{
    margin-bottom: 30px;
}
.Second-Section .Info-About button a{
    text-decoration: none;
    color: var(--color);
}
.Second-Section .Info-Exp{
    flex: 1;
    padding: 15px;
}
.Second-Section .Info-Exp .About-title{
    font-size: 20px;
    font-weight: 700;
    color: var(--hover);
}
.Second-Section .Info-Exp ul{
    list-style: none;
    margin: 25px;
}
.Second-Section li{
    margin: 15px;
    font-weight: bold;
    display: flex;
}
.Second-Section i {
    color: var(--origin);
    font-size: 23px;
}
.Second-Section .Info-Exp .li1{
    margin-left: 15px;
}
.Second-Section .Info-Exp .li-Expre{
    display: flex;
    align-items: center;
}
.Second-Section .Info-Exp .li-Expre .contect-Abo{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    align-items: flex-start;
}
.Second-Section .contect-Abo span{
    font-weight: lighter;
    color: var(--small);
}
/* Experience Section*/
.Experience-Section{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.Experience-Section .Exper-Container{
    display: flex;
    justify-content: center;
    padding: 15px;
    color: var(--color);
}
.Experience-Section .Experience span{
    font-weight: bold;
    color: var(--color);
}
.Experience-Section .Exper-Container div{
    width: 90%; 
}
.Exper-Container div h3{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--hover);
    font-size: 22px;
}
.Exper-Container div ul{
    padding: 15px;
    margin-left: 15px;
}
.Exper-Container div ul li .Ex-name{
    display: flex;
    justify-content: space-between;
}
.Exper-Container div ul li .Ex-name span:first-child{
    font-weight: bold;
}
.Exper-Container div ul li .Ex-name span:last-child{
    font-weight: bold;
    font-size: 11px;
}
.Exper-Container div ul li .bar-block{
    position: relative;
    width: 90%;
    height: 8px;
    background: var(--small);
    margin: 16px 0;
}
.Exper-Container div ul li .bar-block span{
    position: absolute;
    height: 100%;
    top: 0;left: 0;
    background-color: var(--origin);
    transition: width .3s linear;
}
/*Project Section*/
.Projects-Section{
    margin-top: 70px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.Projects-Section span{
    color: var(--color);
    font-weight: bold;
}
.Projects-Section .sliide-container{
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
}
.sliide-container .project-block{
    max-width: 300px;
    margin: 10px auto;
    height: 300px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    background-color: var(--card);
    box-shadow: 1px 1px 6px 2px #8080801a;
}
.sliide-container .project-block .img-project{
    border-radius: .5rem;
    object-fit: cover;
    margin: 0 auto;
    width: 80%;
    height: 60%;
}
.sliide-container .project-block .hidir{
    display: flex;
    justify-content: space-around;
}
.sliide-container .project-block .hidir div{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.sliide-container .project-block .hidir div a{
    text-decoration: none;
    color: var(--origin);
    font-weight: 700;
    font-size: 19px;
}
.sliide-container .project-block .hidir div span{
    color: var(--color);
    font-size: 14px;
    font-weight: 400;
}
.sliide-container .project-block .hidir button{
    border: none;
    outline: none;
    padding: 8px 10px;
    background-color: var(--origin);
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ;
}
.sliide-container .project-block .hidir button a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.sliide-container .project-block .hidir button:hover{
    background-color: var(--hover);
}
.owl-dots{
    text-align: center;
    margin-top: 40px;
}
.owl-dot{
    height: 15px;
    width: 45px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid var(--origin)!important;
    transition: all .3s ease;
}
.owl-dot.hover,
.owl-dot.active{
    background: var(--origin)!important;
}
/*Contact Section*/
.Contact-Section{
    margin: 70px 0;
}
.Contact-Section .Contact-contai{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}
.Contact-contai .Social-md div{
    margin: 15px;
    padding: 13px 33px;
    display: flex;
    background-color: var(--card);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    border-radius: 8px;
    color: var(--text-color);
    line-height: 2;
}
.Contact-contai .Social-md div i{
    color: var(--color);
    font-size: 33px;
}
.Contact-contai .Social-md div b{
    color: var(--color);
}
.Contact-contai .Social-md div a{
    display: flex;
    align-items: center;
}
.Contact-contai .Social-md div small{
    color: var(--small);
    text-decoration: underline;
    font-size: 15px;
}
.Contact-contai .Social-md div a,
.Contact-contai .Social-md div a i{
    font-size: 19px;
    text-decoration: none;
    color: var(--origin);
}
.Contact-Section .input-block{
    display: flex;
    flex-direction: column;
    position: relative;
}
.Contact-Section .input-block::before{
    content: "";
    height: 80%;
    width: 2px;
    background-color: var(--color);
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.Contact-Section .input-block .form{
    display: flex;
    flex-direction: column;
}
.Contact-Section .input-block h3{
    color: var(--origin);
    font-weight: bold;
    font-size: 26px;
}
.Contact-Section .input-block small{
    color: var(--small);
    font-weight: 400;
    font-size: 17px;
}
.Contact-Section .input-block div{
    margin: 12px 0;
}
.Contact-Section .input-block .form .user-input{
    display: flex;
}
.Contact-Section .input-block textarea,
.msg-container textarea{
    min-height: 200px;
}
.Contact-Section .input-block input,
.msg-container textarea,
.Contact-Section .input-block textarea{
    height: 50px;
    width: 100%;    
    border: none;
    margin: 5px;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 15px;
    resize: none;
}

.Contact-Section .input-block button{
    padding: 10px 12px;
}
.Contact-Section .input-block a{
    text-decoration: none;
    cursor: pointer;
    color: var(--origin);
}
/*A5iran-Section*/
.A5iran-Section{
    padding: 25px;
    background-color: var(--nav-color);
    display: flex;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}.A5iran-Section h2{
    font-size: 39px;
    color: var(--text-color);
    margin: 5px;
}
.A5iran-Section div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background-color: var(--card);
    border-radius: 8px;
    padding: 10px;
}
.A5iran-Section img{
    border-radius: 50%;
    width: 30px;
}
.A5iran-Section span{
    color: var(--color);
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    margin-left: 9px;
}
.A5iran-Section ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.A5iran-Section ul li{
    margin: 23px;
    text-align: center;
}
.A5iran-Section ul li a{
    font-size: 19px;
    color: var(--color);
    margin: 10px;
}
/*notification-area*/
#notification-area{
    position: fixed;
    top: 0px;
    right: 10px;
    margin-top: -10px;
    width: 250px;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
}
#notification-area .notification{
    margin-bottom: 15px;
    padding: 15px 40px;
    background: #111;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    margin: 5px 0;
    opacity: 0;
    margin-left: 20px;
    animation: showNotfication 500ms ease-in-out forwards;
}
@keyframes showNotfication{
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
#notification-area .notification.success{
    background-color: #389838;
}
#notification-area .notification.error{
    background-color: orangered;
}
#notification-area .notification.info{
    background-color: #ffba00;
}
/*----------Mini Section for Leave-Message-------------*/
.Leave-Message{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.9);
    top: 0;
    left: 0;
    z-index: 999999;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.2);
    transition: opacity .2s 0s ease-in-out,
                transform .2 0s ease-in-out;
}
#Show{
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}
.Leave-Message .msg-container{
    width: 100%;
    max-width: 500px;
    padding: 40px 35px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    gap: 15px;
}
.msg-container .profile-message{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #000;
    position: relative;
}
.msg-container .profile-message img{
    border-radius: 50%;
    width: 80px;
}
.msg-container .profile-message .Leave-Op{
    line-height: 28px;
    margin-left: 15px;
    font-size: 21px;
    color: var(--color);
}
.msg-container textarea{
    background: #e5e5e5;
    border: #ddd;
}
.msg-container .profile-message .Leave-name{
    font-size: 17px;
    font-weight: normal;
    color: var(--small);
}
.msg-container .Leave-Buttons{
    text-align: right;
}
.msg-container .Leave-Buttons button{
    margin: 0 0px 0px 8px;
    padding: 8px 15px; 
    font-weight: normal;
}
.msg-container .Leave-Buttons button.Cancel{
    background-color: #f082ac;
}
.msg-container .Leave-Buttons button.Cancel:hover{
    background-color: #ec5f95;
}
.msg-container .icon-close{
    position: absolute;
    top: 12px;
    right: 15px;
}
.msg-container .icon-close .closex{
    font-size: 28px;
    cursor: pointer;
    color: #666;
    transition: .1s;
}
.msg-container .icon-close .closex:hover{
    color: #999;
}
/*------------------------------------------------*/
button.Not_working{
    opacity: .7;
}